$white: #ffffff;
$bg-white: rgba(248, 247, 247, 1);
$main: rgba(0, 115, 148, 1);
$sky: rgba(70, 159, 184, 1);
$bg-blue: rgba(233, 242, 244);
$black: #343434;
$l-black: rgb(116, 116, 116);
$l-green: #eaf4dc;
$green: #00B906;
$d-green: #298800;
$navy: #2C3848;
$red: #D77948;
$pink: rgba(243, 149, 235, 1);
$yellow: rgba(255, 230, 0, 1);
$d-yellow: rgba(255, 194, 36, 1);