@use "global" as *;



.is-active::before{
    transform: translate(-50%, -50%) rotate(0);
    opacity: 0;
}

// ========================================
// ハンバーガー
// ========================================

.is_btnAct {
    span {
        &:nth-of-type(1) {
            top: rem(20);
            left: rem(12);
            transform: translateY(6px) rotate(-135deg);
            width: rem(45);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3){
            top: rem(32);
            left: rem(12);
            transform: translateY(-6px) rotate(135deg);
            width: rem(45);
        }
        //close
        &:nth-of-type(4){
            opacity: 1;
            transition: 2.5s;
        }
    }
    &:hover {
        span {
            &:nth-of-type(1) {
                top: rem(20);
                left: rem(12);
            }
            &:nth-of-type(3){
                top: rem(32);
                left: rem(12);
            }
            &:nth-of-type(4){
                color: $white;
                transform: rotateY(360deg);
            }
        }
    }
}

//トップメニュー////////////////////
.is-menu__open{
    right: 0 !important;
}

// ========================================
// header変形グループ
// ========================================

.is-header_op07_h80_slidein {
    height: rem(70);
    padding: rem(0) rem(8);
    background-color: rgba(245, 245, 245, 0.5);
    transition: 0.5s;
    position: relative;
    animation: DownAnime 1s forwards;
    position: fixed;
    backdrop-filter: blur(3px);
    &:hover {
        background-color: $bg-white;
    }
}

.is-header_txtNone {
    display: none;
}

.is-header-bottom {
    height: rem(70);
}

.is-header-logo {
    width: rem(125);
    height: rem(62);
}

.is-header-color {
    a {
        color: $main;
    }
}

@keyframes DownAnime{
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




// ================================================
// アコーディオン
// ================================================
.js-arrow {
    transition: 0.5s ease-in-out;
}
.is-arrowActive {
    transform: rotate(90deg);
}

.is-defaultOpen {
    display: block;
}

// ================================================
// topページのskill
// ================================================

.is-borderActive {
    &::before,
    &::after {
        width: 100%;
    }
    .is-frameAnime {
        &::before,
        &::after {
            height: 100%;
        }
    }
}

.is-skillActive {
    filter: grayscale(0%) drop-shadow(3px 3px 2px rgba(0,0,0,0.4));
}

.is-skillOpen {
    display: block !important;
}

// ========================================
// topのお知らせhoverアニメ
// ========================================

.is_frameMove {
    backdrop-filter: blur(3px) brightness(80%);
    &::before {
        transform: rotate(-12.75deg);
        opacity: 0.3;
    }
    &::after {
        transform: rotate(12.75deg);
        opacity: 0.3;
    }
}